<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecmoban.android.missmall"
    platformBuildVersionCode="23"
    platformBuildVersionName="6.0-2704002"
    android:installLocation="auto"
    android:versionCode="20180608"
    android:versionName="1.12.2">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.ecmoban.android.missmall.ECJiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ecmoban_logo"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaStartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGalleryImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAddressAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaBalanceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAppOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaInvoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAddressChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAddressManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAddressEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRedPacketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaIntegralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaChoosePayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaHelpWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaBannerWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGoodsDescActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSpecificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sharedialog" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGoodPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaFullScreenViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLastBrowseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaOrderdetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCustomercenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShoppingCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRemarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaHelpListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaPayWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaPaymentAndShippingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMyPurseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMyFindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMyCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@*android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRedpapperListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@*android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCategoryChildActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan|adjustNothing" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShareQRCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShakeHistoryActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.ecjia.component.service.ECJiaNetworkStateService">
            <intent-filter android:priority="1000">
                <action android:name="com.ecjia.component.service.NetworkStateService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ecmoban.android.missmall.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@*android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ecmoban.android.missmall.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/paydialog" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104848652" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@*android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustNothing" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustNothing" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="L3C7btnN2XEpy8G32XOchIADwuRDGZVe" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a24a91bf43e486be100016b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="website" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="b62913bfa7afc7967e4987f57011a6ae" />

        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaYueRechangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecmoban.android.missmall.ECJiaPushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaWithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRechargeHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRechargeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGetPasswordOldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaChooseCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGroupbuyGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSearchSellerGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSearchNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|stateAlwaysVisible" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSearchAllActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaGetCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCheckCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMobileRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaConsultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize|adjustNothing" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaFindHotNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaMobilebuyGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSweepRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaTopicListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaTopicDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaPostSMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopListFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaOrderDetailCommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCommentCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaFunctionSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaPromotionalGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaInvitationRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaInvitationRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaInvitationWinRewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaOuterLoginBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLoginBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRegisterBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaInfoWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShopCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaAddRedpaperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden|stateAlwaysHidden|stateAlwaysVisible" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaOrderListAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSearchOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnOrderGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnApplyFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnApplySecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnProcessingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnFeeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaReturnReasonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dateScroll" />
        <activity
            android:name="com.ecjia.hamster.module.goodsReturn.activity.ECJiaSearchInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaToplineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaCheckInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaLocationPOIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaBindingPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaShowPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaReplacePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaChangeUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaSeckillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaRealNameVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaVerifyScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ecjia.hamster.activity.ECJiaWithdrawDetaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.itguy.zxingportrait.CaptureActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.ecmoban.android.missmall.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="com.ecmoban.android.missmall.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>
</manifest>
