<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vcvb.chenyu.shop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/shop_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain">
        </activity>

        <activity
            android:name=".goods.GoodsDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".login.RegisterActivity"
            android:label="login"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".mycenter.OrderActivity"
            android:label="order"
            android:theme="@style/AppTheme">
        </activity>
        <!--<receiver android:name=".receiver.Receiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="LoginClick" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>