{include file="pageheader"}
<div class="fancy">
    <div class="title">小程序主动模板消息-发送</div>
    	<div class="flexilist of">
    		<div class="common-content">
    			<div class="main-info">
				<form action="{url('send_template_my')}" method="post" class="form-horizontal" role="form" onsubmit="return false;">
				    <div class="switch_info">
						 
				        <div class="item">
				          <div class="label-t">模板标题:</div>
				          <div class="label_value col-md-4">
				              <input type="text" name="template_title" class="text" readonly value="{$info['wx_title']}" />
				          </div>
				        </div>
				       
				        <div id="click" class="item  " >
				          <div class="label-t">模板ID:</div>
				          <div class="label_value col-md-4">
				              <input type="text" name="template_id" class="text" readonly value="{$info['wx_template_id']}" />
				          </div>
				        </div>
						
				       <div class="item">
						  <div class="label-t">模板内容:</div>
						  <div class="label_value">
								  <textarea class="textarea"  rows="10" name="template_content" disabled id="template_content" >{$info.wx_template}</textarea>
						  </div>
						  
						</div>
						
						<div class="item">
							<div style="color:red;width:100%;margin-left:30%;"   >插入通配符：{name}表示用户名称，{now}表示当前时间，{date}表示当前日期</div>
						 </div>
						
						
						{foreach $vars_array as $my_var}
						 <div class="item">
				          <div class="label-t">{$my_var}:</div>
				          <div class="label_value col-md-4">
				              <input type="text" name="{$my_var}" class="text" value="" />
				          </div>
				        </div>
						 {/foreach}
						 
						   <div class="item">
				          <div class="label-t">跳转页面:</div>
				          <div class="label_value col-md-4">
				              <input type="text" name="go_url" class="text"   value="" />
				          </div>
				        </div>
						
						   <div class="item">
				          <div class="label-t">发送群体:</div>
				          <div class="label_value col-md-4">
				          	<div style="width:299px;">
				              <select name="send_group" class="input-sm">
				              	<option value="0">全部用户</option>
				              	{foreach $user_rank_list as $m}
				              		<option value="{$m['rank_id']}" >{$m['rank_name']}</option>
				              	{/foreach}
				              </select>
				            </div>
				          </div>
				        </div>

						<div class="item">
							<div class="label-t">发送时间段:</div>
							<div class="label_value text_time col-md-4">
								<input type="text" name="send_start_date" value="{$now_time}" id="send_start_date" class="text mr0" autocomplete="off" readonly />
								<span class="bolang">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
								<input type="text" name="send_end_date" value="{$now_time}" id="send_end_date" class="text" autocomplete="off" readonly />
								<div class="form_prompt"></div>
							</div>
						</div>
						
					        <div class="item">
					          <div class="label-t">&nbsp;</div>
					          <div class="label_value col-md-4">
					          	  <div class="info_btn">
					          		<input type="hidden" name="id" value="{$info['id']}" />
									<input type="submit" value="确认发送" class="button btn-danger bg-red fn" /> 
					              </div>
					          </div>
					        </div>
				        </div>
				    </form>
    			</div>
    		</div>
	    </div>
</div>
<script type="text/javascript">
$(function(){
	$(".clicktype").click(function(){
		// var val = $(this).find("input[type=radio]").val();
		var val = $(this).val();

		if('click' == val && $("#click").hasClass("hidden")){
			$("#view").hide().addClass("hidden");
			$("#click").show().removeClass("hidden");
		}
		else if('view' == val && $("#view").hasClass("hidden")){
			$("#click").hide().addClass("hidden");
			$("#view").show().removeClass("hidden");
		}
	});
	
	
		
		
	
	$(".form-horizontal").submit(function()
	{
	    var ajax_data = $(this).serialize();
	    $.post("{url('send_template_my')}", ajax_data, function(data)
		{
	        if(data.status > 0)
			{
			   alert(data.msg);
				/*
				{if $info['id']}
	            window.parent.location = "{url('template_my')}";
				{else}
				 window.location.href = "{url('template_my')}";
				 {/if}
				 */
			}
	        else{
	            alert(data.msg);
	            return false;
		    }
	    }, 'json');
	});


    //时间选择
    var opts1 = {
        'targetId':'send_start_date',//时间写入对象的id
        'triggerId':['send_start_date'],//触发事件的对象id
        'alignId':'send_start_date',//日历对齐对象
        'format':'-',//时间格式 默认'YYYY-MM-DD HH:MM:SS'
    },opts2 = {
        'targetId':'send_end_date',
        'triggerId':['send_end_date'],
        'alignId':'send_end_date',
        'format':'-',
    }
    xvDate(opts1);
    xvDate(opts2);
})
</script>
<style>
	.dates_box_top {
		height: 40px;
	}
	.dates_bottom {
		height: auto;
	}
	.dates_hms {
		width: auto;
	}
	.dates_btn {
		width: auto;
	}
</style>
{include file="pagefooter"}