{include file="seller_pageheader"}

{include file="seller_nave_header"}

<div class="ecsc-layout">
    <div class="site wrapper">
        {include file="seller_menu_left"}

        <div class="ecsc-layout-right">
            <div class="main-content" id="mainContent">
                {include file="seller_nave_header_title"}
                <div class="wrapper-right of">
                    <div class="tabmenu">
                        <ul class="tab">
                            <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">
                                卡式广告</a></li>
                        </ul>
                    </div>
                    <div class="explanation" id="explanation">
                        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4></div>
                        <ul>
                            <li>小程序广告页自定义卡式广告。</li>
                        </ul>
                    </div>

                    <div class="wrapper-list mt20">
                        <div class="common-head">
                            <div class="fl mb20">
                                <a href="{url('cartadsedit')}" class="sc-btn sc-blue-btn fancybox "><i
                                        class="fa fa-plus"></i>添加广告</a>
                            </div>
                        </div>

                        <div class="list-div" id="listDiv">
                            <table id="list-table" class="ecsc-default-table" style="">
                                <thead>
                                <tr>
                                    <th width="10%">名称</th>
                                    <th width="10%">是否显示</th>
                                    <th width="20%">URL</th>
                                    <th width="10%">图片</th>
                                    <th width="5%">排序</th>
                                    <th width="20%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {if $list}
                                {foreach $list as $key=>$val}
                                <tr>
                                    <td>{$val['name']}</td>
                                    <td>{if $val['ifshow']}显示{else}不显示{/if}</td>
                                    <td>{$val['url']}</td>
                                    <td>
                                        <span class="show">
                                            <a href="{$val['pic']}" class="nyroModal fancybox" title="预览">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td>{$val['vieworder']}</td>
                                    <td align="center" class="handle">
                                        <div class="tDiv">
                                            <a href="{url('cartadsedit', array('id'=>$val['id']))}" class="btn_edit "><i
                                                    class="fa fa-edit"></i>{$lang['wechat_editor']}</a>
                                            <a href="javascript:;"
                                               data-href="{url('cartadsdel', array('id'=>$val['id']))}'}"
                                               class="btn_trash delete_confirm"><i class="fa fa-trash-o"></i>{$lang['drop']}</a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                {else}
                                <tr>
                                    <td class="no-records" colspan="5">没有找到任何记录</td>
                                </tr>
                                {/if}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>

{include file="seller_pagefooter"}
</body>
</html>